<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factions for <%= battleSystem.name %></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/render/battle-systems">Battle Systems</a></li>
            </ul>
        </nav>
    </header>

    <h2>Factions for <%= battleSystem.name %></h2>
    <ul>
        <% factions.forEach(faction => { %>
            <li><a href="/render/faction-descriptions/faction/<%= faction.id %>"><%= faction.name %></a></li>
        <% }) %>
    </ul>
    <a href="/render/factions/new?battleSystemId=<%= battleSystem.id %>">Add New Faction</a>
    <br>
    <br>
    <a href="javascript:history.back()">Back to Previous Page</a>
</body>
</html>